##
##  This is an example build.properties file, you should modify it to match
##  your environment.  It should be saved as file called "build.properties".
##


## glassfish-home is only used w/i this file
glassfish-home=/opt/SUNWappserver
servlet-api.jar=${glassfish-home}/lib/javaee.jar
junit.jar=test/junit/junit.jar

## This is already available for GlassFish in javaee.jar
#jsf-api.jar=${glassfish-home}/lib/javaee.jar

## You don't need to change these:
aptbuild=aptbuild
build=build
dist=dist
docs=docs
src=src/java
test=test

jsftemplating.jar=${dist}/jsftemplating.jar
jsftemplating-dt.jar=${dist}/jsftemplating-dt.jar

jsftemplating.home=${src}/com/sun/jsftemplating


compile.debug=true
compile.optimize=false
compile.deprecation=false

